{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from"
  ]
}
