{
  "env": { "node": true, "es6": true, "jest/globals": true },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-console": [
      "error",
      {
        "allow": ["log", "warn", "error"]
      }
    ]
  },
  "plugins": ["jest"]
}
